@font-face

{

font-family: Bellota-Bold;

src:url(Bellota-Bold.otf);

}
@font-face
{
font-family:Lato-Bold;
src:url(Lato-Bold.ttf);
}
body
{
margin: 0;
padding:0;
}
@media only screen and (min-width: 900px)
{
#mobmenu
{
	display:none;
}
#tlo
{
	background-image: url("bobo.png"), url("bobo.png");
	background-repeat:no-repeat;
	background-size:cover;
	height:260vw;
	width:100%
}

#NAGLOWEK
{
	width: 100%;
	height: 17.4vw;
	left: 0px;
	top: 0px;
	background: rgba(158, 177, 255, 0.6);

}
img.obrazek
{
	position:absolute;
	float:left;
	width: 13.1vw;
	height: 12.1vw;
	padding-left: 3.5vw;
	padding-top: 2.6vw;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
img.obrazek:hover
{
	position:absolute;
	float:left;
	width: 13.2vw;
	height: 14.3vw;
	padding-left: 3.5vw;
	padding-top: 2.6vw;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	transform: rotate(-5deg);
}
#NYNY
{
	position:absolute;
	left:21.6vw;
	top:2vw;
	margin:0;
	font-family: Bellota-Bold;
	font-style: normal;
	font-weight: bold;
	font-size: 6.25vw;
	color: #0709F4;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#Nurture
{
	position:absolute;
	left:21.6vw;
	top: 10vw;
	margin:0;
	font-family: Bellota-Bold;
	font-style: normal;
	font-weight: bold;
	font-size: 3.9vw;
	color: white;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	
}
img.stars
{
	position:absolute;
	width: 10.2vw;
	height: 7vw;
	left: 43.9vw;
	top: 1.8vw;
	
}
img.gbflag
{
	position:absolute;
	width: 3.4vw;
	height: 2.7vw;
	right: 6.6vw;
	top: 1.8vw;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
img.plflag
{
	position:absolute;
	float:right;
	width: 3.4vw;
	height: 2.7vw;
	right: 1.6vw;
	top: 1.8vw;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	
}
img.fb
{
	position:absolute;
	width: 3.4vw;
	height: 3vw;
	right: 5.3vw;
	top: 13.4vw;
	padding:0;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	
}
img.insta
{
	position:absolute;
	width: 3.4vw;
	height: 3vw;
	right: 1.4vw;
	top: 13.4vw;
	padding:0;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	
}
#MENU
{

	background: rgba(238, 239, 238, 0.5);
    width:100%; 
    height:5.8vw; 
	margin: 0;
	z-index:3;
	margin-bottom:1vw;
}

#TRESC
{
	
    width:100%; 
	text-align:center; 
    color:white; 
	margin: 0;
}
#STOPKA
{
	position:absolute;
	background-color: white;
    width:100%; 
    height:4.2vw; 
	text-align:center;  
	top:277vw;
	font-weight: bold;
	text-align:justify;
	font-size: 1vw;
	color: black;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-family: Lato-Bold;
	text-align:center;
	padding-top:2.4vw;
}
.sticky
{
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
}
.button1 
{
	position: relative;
	width: 16.4vw;
	height: 3.9vw;
	margin-top: 1vw; 
	margin-left: 5%;
	text-align:center;
	background: #A8BAFF;
	border-radius: 36px;
	float:left;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.button2
{
	position: relative;
	width: 16.4vw;
	height: 3.9vw;
	margin-top: 1vw; 
	margin-left: 1.75%;
	text-align:center;
	background: #A8BAFF;
	border-radius: 36px;
	float:left;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button3
{
	position: relative;
	width: 16.4vw;
	height: 3.9vw;
	margin-top: 1vw; 
	margin-left: 1.75%;
	text-align:center;
	background: #A8BAFF;
	border-radius: 36px;
	float:left;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.button4
{
	position: relative;
	width: 16.4vw;
	height: 3.9vw;
	margin-top: 1vw; 
	margin-left: 1.75%;
	text-align:center;
	background: #A8BAFF;
	border-radius: 36px;
	float:left;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.button5
{
	position: relative;
	width: 16.4vw;
	height: 3.9vw;
	margin-top: 1vw; 
	margin-left: 1.75%;
	background: #A8BAFF;
	border-radius: 36px;
	float:left;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	text-align:center;
}
.button6
{
	display:none;
}
.button7
{
	display:none;
}
.button8
{
	display:none;
}
.button9
{
	display:none;
}
.button10
{
	display:none;
}
#a1
{
	
position:absolute;
	top:1vw;
left:1.7vw;
font-style: normal;
font-weight: bold;
font-size: 1.6vw;
color: #000161;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: Bellota-Bold;
text-decoration:none;

	
}
#a1:visited
{
	left:1.7vw;
	position:absolute;
	top:1vw;
font-style: normal;
font-weight: bold;
font-size: 1.6vw;
color: #000161;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: Bellota-Bold;
text-decoration:none;
	
}

#a2
{
	
position:absolute;
	top:1vw;
left:0.8vw;
font-style: normal;
font-weight: bold;
font-size: 1.6vw;
color: #000161;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: Bellota-Bold;
text-decoration:none;

	
}
#a2:visited
{
	left:0.8vw;
	position:absolute;
	top:1vw;
font-style: normal;
font-weight: bold;
font-size: 1.6vw;
color: #000161;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: Bellota-Bold;
text-decoration:none;
	
}
#a3
{
	
position:absolute;
	top:1vw;
left:5.7vw;
font-style: normal;
font-weight: bold;
font-size: 1.6vw;
color: #000161;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: Bellota-Bold;
text-decoration:none;

	
}
#a3:visited
{
	left:5.7vw;
	position:absolute;
	top:1vw;
font-style: normal;
font-weight: bold;
font-size: 1.6vw;
color: #000161;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: Bellota-Bold;
text-decoration:none;
	
}
#a4
{
	
position:absolute;
	top:1vw;
left:3.8vw;
font-style: normal;
font-weight: bold;
font-size: 1.6vw;
color: #000161;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: Bellota-Bold;
text-decoration:none;

	
}
#a4:visited
{
	left:3.8vw;
	position:absolute;
	top:1vw;
font-style: normal;
font-weight: bold;
font-size: 1.6vw;
color: #000161;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: Bellota-Bold;
text-decoration:none;
	
}
#a5
{
	
position:absolute;
	top:1vw;
left:5.8vw;
font-style: normal;
font-weight: bold;
font-size: 1.6vw;
color: #000161;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: Bellota-Bold;
text-decoration:none;

	
}
#a5:visited
{
	left:5.8vw;
	position:absolute;
	top:1vw;
font-style: normal;
font-weight: bold;
font-size: 1.6vw;
color: #000161;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: Bellota-Bold;
text-decoration:none;
	
}
.blok1
{
	position:absolute;
	top:24vw;
	left:5%;
	right:5%;
	width:90%;
	height:49vw;
	background: rgba(193, 205, 252, 0.55);
	opacity: 0.55;
	border-radius: 50px;
	z-index:1;
	text-align:left;
	
}
.blok2
{
	position:absolute;
	top: 74.5vw;
	left:5%;
	right:5%;
	width:90%;
	height:49vw;
	background: rgba(193, 205, 252, 0.55);
	opacity: 0.55;
	border-radius: 50px;
	z-index:1;
}
.blok3
{
	position:absolute;
	top: 125vw;
	left:5%;
	right:5%;
	width:90%;
	height:49vw;
	background: rgba(193, 205, 252, 0.55);
	opacity: 0.55;
	border-radius: 50px;
	z-index:1;
}
.blok4
{
	position:absolute;
	top: 176vw;
	left:5%;
	right:5%;
	width:90%;
	height:49vw;
	background: rgba(193, 205, 252, 0.55);
	opacity: 0.55;
	border-radius: 50px;
	z-index:1;
}
.blok5
{
	position:absolute;
	top: 226.8vw;
	left:5%;
	right:5%;
	width:90%;
	height:49vw;
	background: rgba(193, 205, 252, 0.55);
	opacity: 0.55;
	border-radius: 50px;
	z-index:1;
}
.tresc1
{
	position:absolute;
	top:33.5vw;
	left:12%;
	right:12%;
	width:76%;
	height:40vw;
	z-index:2;
	
}
.tresc2
{
	position:absolute;
	top: 75.6vw;
	left:12%;
	right:12%;
	width:76%;
	height:47.6vw;
	z-index:2;
}
.tresc3
{
	position:absolute;
	top: 125vw;
	left:12%;
	right:12%;
	width:76%;
	height:49vw;
	z-index:2;
}
.tresc4
{
	position:absolute;
	top: 176vw;
	left:12%;
	right:5%;
	width:83%;
	height:49vw;
	z-index:2;
}
.tresc5
{
	position:absolute;
	top: 226.8vw;
	left:12%;
	right:12%;
	width:76%;
	height:49vw;
	z-index:2;
}
#face1
{
	position:absolute;
	top:8vw;
	left:1vw;
	width:10.9vw;
	height:10.9vw;
}
#face2
{
	position:absolute;
	top:22.2vw;
	left:64vw;
	width:10.9vw;
	height:10.9vw;
}
#face3
{
	position:absolute;
	top:36.3vw;
	left:1vw;
	width:10.9vw;
	height:10.9vw;
}
#opinia1
{
	position:absolute;
	top:8vw;
	left:12.9vw;
	height:10.9vw;
	width:61.4vw;
	background: #FFFFFF;
	border-radius: 35px;
}
#opinia2
{
	position:absolute;
	top:22.2vw;
	left:1vw;
	height:10.9vw;
	width:61.4vw;
	background: #FFFFFF;
	border-radius: 35px;
}
#opinia3
{
	position:absolute;
	top:36.3vw;
	left:12.9vw;
	height:10.9vw;
	width:61.4vw;
	background: #FFFFFF;
	border-radius: 35px;
}
.lorem
{
	position:absolute;
	left:5vw;
	right:5vw;
	text-align:center;
	top:1vw;
}
.lorem2
{
	position:relative;
	left:0vw;
	right:6vw;
	text-align:center;
	top:1vw;
}
#mapa
{
	position:absolute;
	top:28vw;
	left:43vw;
	width:27.6vw; 
	height:17.8vw; 
	border:0;
}
p
{
text-indent: 0.2in;
	z-index:2;
	font-weight: bold;
	text-align:justify;
font-size: 1.6vw;
color: #000161;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: Lato-Bold;

}
.tytul
{
	margin:0;
	text-align: center;
	font-size: 3.9vw;
	font-family: Bellota-Bold;
}
.kolyska1
{
	width:17.7vw;
	height:21vw;
	float:right;
	margin:3vw;
}
.kolyska2
{
	position:absolute;
	width:15.6vw;
	height:16vw;
	top:11vw;
	left:47vw;
}
#anim
{
	background-image: url("play.svg");
	position:absolute;
	top:21vw;
	left: 34vw;
	background-size:cover;
	height:7.5vw;
	width:7.5vw;
	z-index:2;
}
#anim:hover
{
	background-image:url("play.svg");
	position:absolute;
	top:21vw;
	left: 34vw;
	background-size:cover;
	height:7.5vw;
	width:7.5vw;
	opacity:0;
	z-index:2;
}
#anim2
{
	background-image: url("ladowanie.gif");
	position:absolute;
	top:21vw;
	left: 34vw;
	background-size:cover;
	height:7.5vw;
	width:7.5vw;
	z-index:1;
	
}
#imie
{
	position:absolute;
	width:13.3vw;
	height:3.4vw;
	border-radius: 20px;
	border:0;
	left:10vw;
	top:14vw;
}
#nazwisko
{
	position:absolute;
	width:13.3vw;
	height:3.4vw;
	border-radius: 20px;
	border:0;
	left:26.3vw;
	top:14vw;
}
#telefon
{
	position:absolute;
	width:13.3vw;
	height:3.4vw;
	border-radius: 20px;
	border:0;
	left:10vw;
	top:23.8vw;
}
#adresemail
{
	position:absolute;
	width:13.3vw;
	height:3.4vw;
	border-radius: 20px;
	border:0;
	left:26.3vw;
	top:23.8vw;
}
#miasto
{
	position:absolute;
	width:13.3vw;
	height:3.4vw;
	border-radius: 20px;
	border:0;
	left:10vw;
	top:33vw;
}
#ulica
{
	position:absolute;
height:3.4vw;
width:18.9vw;
border-radius: 20px;
	border:0;
	top:33vw;
	left:26.3vw;
}
#nrdomu
{
	position:absolute;
	height:3.4vw;
	width:8vw;
	border-radius: 20px;
	border:0;
	top:33vw;
	left:52vw;
}
#przejdz
{
	position:absolute;
	height:5.1vw;
	width:27.4vw;
	border-radius: 20px;
	border:0;
	top:39.6vw;
	left:26.7vw;
	background: #000161;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	color:white;
	font-family: Bellota;
font-style: normal;
font-weight: bold;
font-size: 2.5vw;
}
#opisbut1
{
	font-size:2.5vw;
	position:absolute;
	left:9vw;
	top:8vw;
}
#opisbut2
{
	font-size:2.5vw;
	position:absolute;
	left:25.3vw;
	top:8vw;
}
#opisbut3
{
	font-size:2.5vw;
	position:absolute;
	left:9vw;
	top:17.8vw;
}
#opisbut4
{
	font-size:2.5vw;
	position:absolute;
	left:25.3vw;
	top:17.8vw;
}
#opisbut5
{
	font-size:2.5vw;
	position:absolute;
	left:9vw;
	top:27vw;
}
#opisbut6
{
	font-size:2.5vw;
	position:absolute;
	top:27vw;
	left:25.3vw;
}
#opisbut7
{
	font-size:2.5vw;
	position:absolute;
	top:27vw;
	left:51vw;
}

#wideo
{
	position:absolute;
	top:10vw;
	left:15.6vw;
	width:44.7vw;
	height:28vw;
}
#Czym
{
	position:absolute;
	top:-16vw;
}
#Jak
{
	position:absolute;
	top: -7vw;
}
#Opinie
{
	position:absolute;
	top: -7vw;
}
#Kup
{
	position:absolute;
	top: -7vw;
}
#Onas
{
	position:absolute;
	top: -7vw;
}
#tele
{
	position:absolute;
	width:3vw;
	height:3vw;
	top:30.8vw;
	left:12.6vw;
}
#fon
{
	position:absolute;
	top:29.8vw;
	left:16.5vw;
	text-indent: 0in;
}
#mail
{
	position:absolute;
	width:3vw;
	height:3vw;
	top:34.4vw;
	left:12.6vw;
}
#email
{
	position:absolute;
	top:33.4vw;
	left:16.5vw;
	text-indent: 0in;
}

#lokalizacja
{
	position:absolute;
	width:3vw;
	height:3vw;
	top:39vw;
	left:12.6vw;
}
#lokacja
{
	position:absolute;
	top:37vw;
	left:16.5vw;
	text-indent: 0in;
}
}
@media only screen and (max-width: 900px)
{
#tlo
{
	background-image: url("bobo.png"), url("bobo.png"),url("bobo.png");
	height:635.2vw;
	background-size:cover;
	background-repeat:no-repeat;
	max-width:900px;
}
#mobmenu
{
position: fixed;
width: 100%;
height:18.5vw;
left:0;
bottom:0;
background: #D0D8F4;
z-index:4;
}
#NAGLOWEK
{
	width: 100%;
	height: 26.4vw;
	left: 0px;
	top: 0px;
	background: rgba(158, 177, 255, 0.6);

}
img.obrazek
{
	position:absolute;
	float:left;
	width: 21.2vw;
	height: 21vw;
	padding-left: 4vw;
	padding-top:3.3vw;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#NYNY
{
	position:absolute;
	left:24.7vw;
	top:2.3vw;
	margin:0;
	font-family: Bellota-Bold;
	font-style: normal;
	font-weight: bold;
	font-size: 8.6vw;
	color: #0709F4;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#Nurture
{
	position:absolute;
	left:24.7vw;
	top: 14.8vw;
	margin:0;
	font-family: Bellota-Bold;
	font-style: normal;
	font-weight: bold;
	font-size: 3.2vw;
	color: white;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	
}
img.stars
{
	position:absolute;
	width: 11vw;
	height: 12.5vw;
	left: 55vw;
	top: 3.6vw;
	
}
img.gbflag
{
	position:absolute;
	width: 7.4vw;
	height: 5.7vw;
	right: 12vw;
	top:3.6vw;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
img.plflag
{
	position:absolute;
	width: 7.4vw;
	height: 5.7vw;
	right: 1.8vw;
	top: 3.6vw;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	
}
img.fb
{
	position:absolute;
	width: 6.5vw;
	height: 5.75vw;
	right: 10vw;
	top: 19.7vw;
	padding:0;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	
}
img.insta
{
	position:absolute;
	width: 6.5vw;
	height: 5.75vw;
	right: 1.8vw;
	top: 19.7vw;
	padding:0;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	
}
#MENU
{

	display:none;
}

#TRESC
{
	
    width:100%; 
	text-align:center; 
    color:white; 
	margin: 0;
}
#STOPKA
{
	position:absolute;
	background-color: white;
    width:100%; 
    height:26.4vw; 
	text-align:center;  
	top:661.6vw;
	font-weight: bold;
	text-align:justify;
	font-size: 1.9vw;
	color: black;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-family: Lato-Bold;
	text-align:center;
	padding-top:2.6vw;
}
.sticky
{
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
}
.button1 
{
	display:none;
}
.button2
{
	display:none;
}

.button3
{
	display:none;
}
.button4
{
	display:none;
}
.button5
{
	display:none;
}
.button6
{
position: relative;
width: 15.3vw;
height: 15.3vw;
left: 4.3vw;
top: 1.6vw;
bottom:0;
float:left;
background: #FFFFFF;
box-shadow: 0px 4.6px 4.6px rgba(0, 0, 0, 0.25);
border-radius: 23px;
}
.button7
{
	position: relative;
width: 15.3vw;
height: 15.3vw;
left: 7.7vw;
top: 1.6vw;
bottom:0;
float:left;
background: #FFFFFF;
box-shadow: 0px 4.6px 4.6px rgba(0, 0, 0, 0.25);
border-radius: 23px;
}
.button8
{
	position: relative;
width: 15.3vw;
height: 15.3vw;
left: 11.1vw;
top: 1.6vw;
float:left;
bottom:0;
background: #FFFFFF;
box-shadow: 0px 4.6px 4.6px rgba(0, 0, 0, 0.25);
border-radius: 23px;
}
.button9
{
position: relative;
float:left;
width: 15.3vw;
height: 15.3vw;
left: 14.5vw;
top: 1.6vw;
bottom:0;
background: #FFFFFF;
box-shadow: 0px 4.6px 4.6px rgba(0, 0, 0, 0.25);
border-radius: 23px;	
}
.button10
{
	position: relative;
width: 15.3vw;
height: 15.3vw;
left: 17.9vw;
top: 1.6vw;
bottom:0;
float:left;
background: #FFFFFF;
box-shadow: 0px 4.6px 4.6px rgba(0, 0, 0, 0.25);
border-radius: 23px;
}
#a1
{
	
display:none;
	
}
#a1:visited
{
display:none;
}

#a2
{
	
display:none;
	
}
#a2:visited
{
	display:none;
}
#a3
{
display:none;

	
}
#a3:visited
{
display:none;
}
#a4
{
display:none;
	
}
#a4:visited
{
display:none;
}
#a5
{
	
	display:none;
}
#a5:visited
{
display:none;	
}
.b1
{
	width:11.5vw;
	height:11.5vw;
	position:relative;
	left:1.9vw;
	top:2.6vw;
}
.blok1
{
	position:absolute;
	top:29.5vw;
	left:5%;
	right:5%;
	width:90%;
	height:109.3vw;
	background: rgba(193, 205, 252, 0.55);
	opacity: 0.55;
	border-radius: 50px;
	z-index:1;
	text-align:left;
	
}
.blok2
{
	position:absolute;
	top: 143.4vw;
	left:5%;
	right:5%;
	width:90%;
	height:73.8vw;
	background: rgba(193, 205, 252, 0.55);
	opacity: 0.55;
	border-radius: 50px;
	z-index:1;
}
.blok3
{
	position:absolute;
	top: 223vw;
	left:5%;
	right:5%;
	width:90%;
	height:159.5vw;
	background: rgba(193, 205, 252, 0.55);
	opacity: 0.55;
	border-radius: 50px;
	z-index:1;
}
.blok4
{
	position:absolute;
	top: 388vw;
	left:5%;
	right:5%;
	width:90%;
	height:122.8vw;
	background: rgba(193, 205, 252, 0.55);
	opacity: 0.55;
	border-radius: 50px;
	z-index:1;
}
.blok5
{
	position:absolute;
	top: 515.8vw;
	left:5%;
	right:5%;
	width:90%;
	height:146vw;
	background: rgba(193, 205, 252, 0.55);
	opacity: 0.55;
	border-radius: 50px;
	z-index:1;
}
.tresc1
{
	position:absolute;
	top:29.5vw;
	left:11%;
	right:11%;
	width:78%;
	height:104.3vw;
	z-index:2;
	
}
.tresc2
{
	position:absolute;
	top: 138.4vw;
	left:11%;
	right:11%;
	width:78%;
	height:78.8vw;
	z-index:2;
}
.tresc3
{
	position:absolute;
	top: 223vw;
	left:11%;
	right:11%;
	width:78%;
	height:159.5vw;
	z-index:2;
}
.tresc4
{
	position:absolute;
	top: 388vw;
	left:11%;
	right:11%;
	width:78%;
	height:122.8vw;
	z-index:2;
}
.tresc5
{
	position:absolute;
	top: 515.8vw;
	left:11%;
	right:11%;
	width:78%;
	height:146vw;
	z-index:2;
}
#face1
{
	position:absolute;
	top:18.7vw;
	left:30.5vw;
	width:15.6vw;
	height:15.6vw;
	z-index:2;
}
#face2
{
	position:absolute;
	top:64vw;
	left:30.5vw;
	width:15.6vw;
	height:15.6vw;
	z-index:2;
}
#face3
{
	position:absolute;
	top:109.9vw;
	left:30.5vw;
	width:15.6vw;
	height:15.6vw;
	z-index:2;
}
#opinia1
{
	position:absolute;
	top:32.4vw;
	height:26.7vw;
	width:100%;
	background: #FFFFFF;
	border-radius: 35px;
	z-index:1;
}
#opinia2
{
	position:absolute;
	top:78.2vw;
	height:26.7vw;
	width:100%;
	background: #FFFFFF;
	border-radius: 35px;
	z-index:1;
}
#opinia3
{
	position:absolute;
	top:124vw;
	height:26.7vw;
	width:100%;
	background: #FFFFFF;
	border-radius: 35px;
	z-index:1;
}
.lorem
{
	position:absolute;
	left:5vw;
	right:5vw;
	text-align:center;
	top:1vw;
}
.lorem2
{
	position:relative;
	left:0vw;
	right:6vw;
	text-align:center;
	top:1vw;
}
#mapa
{
	position:absolute;
	top:120vw;
	left:24vw;
	width:34vw; 
	height:21.6vw; 
	border:0;
}
p
{
text-indent: 0.2in;
	z-index:2;
	font-weight: bold;
	text-align:justify;
font-size: 3.4vw;
color: #000161;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: Lato-Bold;

}
.tytul
{
	position:relative;
	margin:5.75vw;
	text-align: center;
	font-size: 5.2vw;
	font-family: Bellota-Bold;
}
.kolyska1
{
	position:absolute;
	width:39.4vw;
	height:29.7vw;
	top:74.3vw;
	left:18.6vw;
}
.kolyska2
{
	display:none;
}
#anim
{
	background-image: url("play.svg");
	position:absolute;
	top:35.4vw;
	left:29.3vw;
	background-size:cover;
	height:15.1vw;
	width:15.1vw;
	z-index:2;
}

#anim2
{
	display:none;
	
}
#imie
{
	position:absolute;
	width:34.5vw;
	height:5.3vw;
	border-radius: 10px;
	border:0;
	left:20.9vw;
	top:23.4vw;
}
#nazwisko
{
	position:absolute;
	width:34.5vw;
	height:5.3vw;
	border-radius: 10px;
	border:0;
	left:20.9vw;
	top:37.6vw;
}
#telefon
{
	position:absolute;
	width:34.5vw;
	height:5.3vw;
	border-radius: 10px;
	border:0;
	left:20.9vw;
	top:50.5vw;
}
#adresemail
{
	position:absolute;
	width:34.5vw;
	height:5.3vw;
	border-radius: 10px;
	border:0;
	left:20.9vw;
	top:64.7vw;
}
#miasto
{
	position:absolute;
	width:34.5vw;
	height:5.3vw;
	border-radius: 10px;
	border:0;
	left:20.9vw;
	top:78.8vw;
}
#ulica
{
	position:absolute;
	height:5.3vw;
	width:33.6vw;
	border-radius: 20px;
	border:0;
	top:93.7vw;
	left:12.2vw;
}
#nrdomu
{
	position:absolute;
	height:5.3vw;
	width:12.5vw;
	border-radius: 20px;
	border:0;
	top:93.7vw;
	left:47.5vw;
}
#przejdz
{
	position:absolute;
	height:7vw;
	width:36.5vw;
	border-radius: 20px;
	border:0;
	top:105.7vw;
	left:20.9vw;
	background: #000161;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	color:white;
	font-family: Bellota;
font-style: normal;
font-weight: bold;
font-size: 3.4vw;
}
#opisbut1
{
	font-size:3.4vw;
	position:absolute;
	left:19vw;
	top:14.9vw;
}
#opisbut2
{
	font-size:3.4vw;
	position:absolute;
	left:19vw;
	top:29vw;
}
#opisbut3
{
	font-size:3.4vw;
	position:absolute;
	left:19vw;
	top:42vw;
}
#opisbut4
{
	font-size:3.4vw;
	position:absolute;
	left:19vw;
	top:56.1vw;
}
#opisbut5
{
	font-size:3.4vw;
	position:absolute;
	left:19vw;
	top:70.3vw;
}
#opisbut6
{
	font-size:3.4vw;
	position:absolute;
	left:10.2vw;
	top:84.5vw;
}
#opisbut7
{
	font-size:3.4vw;
	position:absolute;
	left:45.5vw;
	top:84.5vw;
}

#wideo
{
	position:absolute;
	top:18vw;
	height:52.2vw;
	left:0;
	width:100%;
}
#Czym
{
	position:absolute;
	top:-16vw;
}
#Jak
{
	position:absolute;
	top: -7vw;
}
#Opinie
{
	position:absolute;
	top: -7vw;
}
#Kup
{
	position:absolute;
	top: -7vw;
}
#Onas
{
	position:absolute;
	top: -7vw;
}
#tele
{
	position:absolute;
	width:5.3vw;
	height:5.3vw;
	top:91vw;
	left:25.2vw;
}
#fon
{
	position:absolute;
	top:87vw;
	left:31.2vw;
	text-indent: 0in;
}
#mail
{
	position:absolute;
	width:5.3vw;
	height:5.3vw;
	top:97vw;
	left:25.2vw;
}
#email
{
	position:absolute;
	top:93vw;
	left:31.2vw;
	text-indent: 0in;
}

#lokalizacja
{
	position:absolute;
	width:5.3vw;
	height:5.3vw;
	top:103vw;
	left:25.2vw;
}
#lokacja
{
	position:absolute;
	top:99vw;
	left:31.2vw;
	text-indent: 0in;
}
}
